.navbar{
    height: 150px;
}

.logo{
    height: 100px;
    width: 200px;
    border-radius: 25px;
}

.card-img-top{
    height:200px;
}

.addpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 100vh;

    & form{
        width: 30%;
        & label{
            margin: 10px 0;
        }
    }
}